@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: hsl(0, 0%, 17%);
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  box-shadow: 0 0 10px hsl(0, 0%, 40%);
  background-color: hsl(0, 0%, 30%);
  width: 500px;
  height: 100%;
  border-radius: 50px 50px 0 0;
}

.dot {
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  display: flex;
}

.sec {
  width: 5px;
  height: 5px;
  margin-left: -7px;
  box-shadow: 0 0 10px hsl(0, 0%, 50%);
  background-color: hsl(0, 0%, 70%);
}

.middle {
  margin: -7px 0 0 -5px;
  width: 3px;
  height: 3px;
  z-index: 1000;
  box-shadow: 0 0 10px hsl(0, 0%, 60%);
  background-color: hsl(0, 0%, 70%);
}

.clock {
  background-color: hsl(0, 0%, 25%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -70%);
  padding: 152px;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0);
}

.hand-container {
  z-index: 100;
}

#hand-container-seconds {
  margin-top: -160px;
  position: absolute;
  width: 1px;
  height: 320px;
}

#hand-container-minutes {
  margin-top: -130px;
  position: absolute;
  width: 1px;
  height: 260px;
}

#hand-container-hours {
  margin-top: -100px;
  position: absolute;
  width: 5px;
  height: 200px;
}

.hand-sec {
  visibility: hidden;
  height: 150px;
}

.hand-min {
  background-color: hsl(0, 0%, 60%);
  box-shadow: 0 0 10px hsl(0, 0%, 50%);
  width: 4px;
  height: 130px;
}

.hand-hours {
  background-color: hsl(0, 0%, 40%);
  box-shadow: 0 0 10px hsl(0, 0%, 50%);
  width: 4px;
  height: 100px;
}

#time {
  z-index: 1000;
  font-size: 2em;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px hsl(0, 0%, 40%);
  transform: translate(-50%, 300%);
  background-color: hsl(0, 0%, 30%);
}

.digits {
  display: flex;
  align-items: center;
  justify-content: center;
}

.digit {
  position: absolute;
  display: flex;
  justify-content: center;
  font-weight: bold;
  height: 100%;
  width: 100%;
  font-size: 1.5em;
}

.digit > b {
  height: fit-content;
}

#digit0 {
  transform: rotate(0deg);
}

#digit1 {
  transform: rotate(30deg);
}

#digit2 {
  transform: rotate(60deg);
}

#digit3 {
  transform: rotate(90deg);
}

#digit4 {
  transform: rotate(120deg);
}

#digit5 {
  transform: rotate(150deg);
}

#digit6 {
  transform: rotate(180deg);
}

#digit7 {
  transform: rotate(210deg);
}

#digit8 {
  transform: rotate(240deg);
}

#digit9 {
  transform: rotate(270deg);
}

#digit10 {
  transform: rotate(300deg);
}

#digit11 {
  transform: rotate(330deg);
}


#digit0 > b {
  transform: rotate(-0deg);
}

#digit1 > b {
  transform: rotate(-30deg);
}

#digit2 > b {
  transform: rotate(-60deg);
}

#digit3 > b {
  transform: rotate(-90deg);
}

#digit4 > b {
  transform: rotate(-120deg);
}

#digit5 > b {
  transform: rotate(-150deg);
}

#digit6 > b {
  transform: rotate(-180deg);
}

#digit7 > b {
  transform: rotate(-210deg);
}

#digit8 > b {
  transform: rotate(-240deg);
}

#digit9 > b {
  transform: rotate(-270deg);
}

#digit10 > b {
  transform: rotate(-300deg);
}

#digit11 > b {
  transform: rotate(-330deg);
}
